body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 30px 0;
}

.cta-button {
    background-color: white;
    color: #4CAF50;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
}

.card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f1f1f1;
}